
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Concat</title>
</head>
<body>
    <div> 
        <h4>@ViewBag.message</h4>
    </div>
    @Html.ActionLink("Return", "Index")
</body>
</html>
