
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post">
        <input type="text" name="word1" /><br />
        <input type="text" name="word2" /><br />
        <input type="text" name="word3" /><br />
        <input type="text" name="word4" /><br />
        <input type="text" name="word5" /><br />
        <input type="submit" value="Concat" />
    </form>
</body>
</html>
